

body{
	padding: 0;
	margin: 0;
}
main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}



.formulario__input:focus {
	border: 3px solid #5ae031;
	outline: none;
	box-shadow: 1px 1px 10px #5ae031
}

.formulario__input-error {
	color: #fff;
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	padding: 10px 40px 10px 40px;
	border: 3px solid #5ae031;
	border-radius: 7px;
	transition: .1s ease all;
	color: #fff;
	background: #393838;
}

.formulario__btn:hover {
	background: #5ae031;
	color: black;
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #5ae031;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #fff;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}
.contenedorContacto{
	background: #393838;
	/*background-image: url("https://images.pexels.com/photos/5695301/pexels-photo-5695301.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");*/
	margin: 0;
	padding: 0;
}

.contenedorIconos{
	padding-top: 2em;
	padding-left: 0;
	display: grid;
	align-items: center;
	justify-content: center;
}
.iconoContacto{
	padding-bottom: 1.8em;
	font-size: 15spx;

}
.IconoSimbolo{
	float: left;
	border-radius: 30px;
	box-shadow: -1px 1px 7px #5ae031;}
.TextoContacto h2{
	color: white;
	font-size: 20px;
}

.TextoContacto{
	color: white;
	padding-left: 17px;
	float: right;
}
.iconoCont{
	padding: 13px;
	border: solid 1px #5ae031;
	background: #5ae031;
	border-radius: 2em;
	color: black;
}
.bloque2-azul{
	background: #393838;
}
label{
	color: #5ae031;
}