.containerS{
    background: #3C3B3B;
    padding: 0px 100px;
    width: 100%;
}

h1{
    color: white;
}
.contCard{
    margin-top: 20px;
}
.producto img{
    width: 500px;
    height: 500px;
    margin: 21px;
       
}